@model ShippingDetailsViewModel
@{
}

<style>
.container {
  max-width: 960px;
}

.emptyArea{
    margin-top:100px;
}

</style>


<div class="container">


  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/images/trainer1.jpg" alt="" width="72" height="57">
      <h2>Checkout form</h2>
      <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Your cart</span>
          <span class="badge bg-primary rounded-pill">@Model.CartItems.Count</span>
        </h4>
        <ul class="list-group mb-3">
            @foreach(var item in Model.CartItems)
            {
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">@item.Packet.PacketType</h6>
                  <small class="text-muted">Brief Description</small>
                </div>
                <span class="text-muted">$@item.Packet.PacketPrice</span>
              </li>

            }
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">−$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>$20</strong>
          </li>
        </ul>

        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </form>
      </div>
      <div class="col-md-7 col-lg-8">


        <h4 class="mb-3">Billing address</h4>


        <form asp-controller="Checkout" asp-action="Index" method="post" class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-12">
              <label asp-for="FullName" class="form-label">Full Name</label>
              <input asp-for="FullName" type="text" class="form-control" id="firstName" placeholder="" value="@Model.FullName" disabled required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-12">
              <label asp-for="Username" class="form-label">Username</label>
              <div class="input-group has-validation">
                <span class="input-group-text"></span>
                <input asp-for="Username" type="text" class="form-control" id="username" placeholder="Username" value="@Model.Username" disabled required>
              <div class="invalid-feedback">
                  Your username is required.
                </div>
              </div>
            </div>

            <div class="col-12">
              <label asp-for="Email" class="form-label">Email <span class="text-muted"></span></label>
              <input asp-for="Email" type="email" class="form-control" id="email" placeholder="you@example.com" value="@Model.Email" disabled>
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-12">
              <label asp-for="Address" class="form-label">Address</label>
              <input asp-for="Address" type="text" class="form-control" id="address" placeholder="1234 Main St" required>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="col-md-5">
              <label for="country" class="form-label">Country</label>
              <select asp-for="Country" class="form-select" id="country" required>
                <option value="">Choose...</option>
                <option value="United States">United States</option>
                <option value="Turkey">Turkey</option>

              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

            <div class="col-md-4">
              <label for="state" class="form-label">City</label>
              <select asp-for="City" class="form-select" id="state" required>
                <option value="">Choose...</option>
                <option value="California">California</option>
                <option value="İstanbul">İstanbul</option>

              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

            <div class="col-md-3">
              <label asp-for="PostalCode" class="form-label">Postal Code</label>
              <input asp-for="PostalCode" type="text" class="form-control" id="zip" placeholder="" required>
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
        </form>
      
    </div>
    </div>
  </main>

</div>
<div class="emptyArea"></div>