@model RegisterViewModel
@{
    Layout = "_LoginAndRegisterLayout";
}

 <div class="container">
        <div class="form-container">
            <form action="#" method="POST" id="registerForm">
                <h2>Register</h2>
                <span asp-validation-for="@Model.FullName" class="text-danger"></span>
                <label asp-for="FullName">Full Name:</label>
                <input type="text" id="username" asp-for="FullName">

                <span asp-validation-for="@Model.Username" class="text-danger"></span>
                <label asp-for="Username">Username:</label>
                <input type="text" id="username" asp-for="Username">

                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                <label asp-for="Email">Email:</label>
                <input type="email" id="email" asp-for="Email" />

                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                <label asp-for="Password">Password:</label>
                <input type="password" id="password" asp-for="Password" required>

                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                <label asp-for="ConfirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" asp-for="ConfirmPassword" required>

                <div class="text-danger" asp-validation-summary="ModelOnly">

                </div>
                <button type="submit">Register</button>
            </form>
            <p>Already have an account? <a href="/Login/Index">Login here</a>.</p>
        </div>
    </div>

